.nav {
    background-color: orange;
    text-align: center;
}

.nav ul {
    display: inline-block;
    list-style-type: none;
}

.nav li a {
    padding: 15px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: rgb(240, 114, 114);
}